.Langcard{
    border:1px solid black;
    width:100px;
    height:100px;
    margin: 10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius: 10px;
    }
    .Langcard:hover{
        box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.75);

    }
.logo{
    width:6vh;
    padding:20px 10px 0px 10px;
    /* margin: 10px; */
}
.logo:hover{
    transform:scale(1.3);
    transition: all 0.3s ease;
}
p{
    font-size:1rem;
}
li{
    font-size:0.7rem;
}
.cover{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:20rem;
    border-radius: 15px;
    background-image: linear-gradient(
    45deg,
    #FFD631 0%,
    #FFD631 40%,
    #7cd8f0 40%,
    #54c3df 60%,
    #FFD631 60%,
    #FFD631 100%
  );
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.75);

}
h3{
    margin-top:2px;
    color:rgb(172, 44, 69);
}