.Main_box{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border:1px solid black;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.Card_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    margin-top:5px;
    width: 50%;
}