body{
    background-image:linear-gradient(100deg,#F7D068, #FAB379);
}
.App{
    display:flex;
    flex-direction:column;
    align-items: center;
    /* background-color: red; */
}
img{
    width: 20%;
}